.game-room {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    margin: 5rem 0 0 0;
    line-height: 1.15;
    font-size: 4rem;
    text-align: center;
  }

  &__subtitle {
    margin: 3rem 0 0 0;
    line-height: 1.15;
    font-size: 2rem;
    text-align: center;
  }

  &__name {
    margin: 1rem 0 0 0;
    line-height: 1.15;
    font-size: 1rem;
    text-align: center;
  }

  &__start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 3rem 0 0 0;
    width: 100%;
  }

  &__start-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    min-width: 20rem;
    height: 2rem;
    border-radius: 5px;
    border: 1px solid #000;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    padding: unset;
    background-color: rgb(192, 192, 192);

    &:hover {
      background-color: rgb(192, 192, 192);
      color: #000;
      box-shadow: 0.5rem 0.5rem;
    }
  }
}
