.home {
  &__title {
    @include typo-poppins-60-semibold();
    margin: 5rem 0 0 0;
    line-height: 1.15;
    font-size: 6rem;
    text-align: center;
  }

  &__options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 3rem 10rem 0 10rem;
  }

  &__join,
  &__host {
    @include option-button();
  }
}

// Media queries

@media screen and (max-width: map-get($breakpoints, "medium")) {
  .home {
    &__options {
      flex-direction: column;
      margin: 3rem 4rem 0 4rem;
    }
  }
}
