.room-list {
  &__title {
    @include typo-poppins-60-semibold();
    margin: 5rem 0 0 0;
    text-align: center;
  }

  &__room {
    @include option-button();

    &--locked {
      gap: 1rem;
      cursor: not-allowed;

      &:hover {
        div,
        h3 {
          opacity: 1;
        }
      }
    }

    &__title {
      @include typo-poppins-24-semibold($full-black);
      margin: unset;
    }

    &__lock {
      height: 2rem;
      width: 2rem;
      opacity: 0;
      transition: all 0.2s ease-in-out;
    }

    &__warning {
      @include typo-poppins-14-regular($full-black);
      text-align: center;
      height: 2rem;
      margin: unset;
      opacity: 0;
      transition: all 0.2s ease-in-out;
    }

    &__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      margin: 3rem 4rem;
    }
  }
}