// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

/// Event wrapper
/// @author Harry Roberts
/// @param {Bool} $self [false] - Whether or not to include current selector
/// @link https://twitter.com/csswizardry/status/478938530342006784 Original tweet from Harry Roberts
@mixin on-event($self: false) {
  @if $self {
    &,
    &:hover,
    &:active,
    &:focus,
    &:focus-within {
      @content;
    }
  } @else {
    &:hover,
    &:active,
    &:focus,
    &:focus-within {
      @content;
    }
  }
}

/// Make a context based selector a little more friendly
/// @author Kitty Giraudel
/// @param {String} $context
@mixin when-inside($context) {
  #{$context} & {
    @content;
  }
}

@mixin typo-bungee-60($color: $main-black) {
  font-family: "Bungee";
  font-style: normal;
  font-weight: 400;
  font-size: 6rem;
  line-height: 7.2rem;
  color: $color;
}

@mixin typo-bungee-24($color: $main-black) {
  font-family: "Bungee";
  font-style: normal;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: $color;
}

@mixin typo-bungee-20($color: $main-black) {
  font-family: "Bungee";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 3rem;
  color: $color;
}

@mixin typo-bungee-16($color: $main-black) {
  font-family: "Bungee";
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: $color;
}

@mixin typo-bungee-14($color: $main-black) {
  font-family: "Bungee";
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2rem;
  color: $color;
}

@mixin typo-bungee-12($color: $main-black) {
  font-family: "Bungee";
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: $color;
}


@mixin typo-poppins-60($color: $main-black) {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 6rem;
  line-height: 7.2rem;
  color: $color;
}

@mixin typo-poppins-24($color: $main-black) {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: $color;
}

@mixin typo-poppins-20($color: $main-black) {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 3rem;
  color: $color;
}

@mixin typo-poppins-16($color: $main-black) {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: $color;
}

@mixin typo-poppins-14($color: $main-black) {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: $color;
}

@mixin typo-poppins-12($color: $main-black) {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: $color;
}

@mixin typo-poppins-10($color: $main-black) {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.2rem;
  color: $color;
}
