.chat {
  max-height: 42.8rem;
  height: 100%;
  width: 22.4rem;
  background-color: #fff;
  border-radius: 0.8rem;
  border: 0.1rem solid #505d5f;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 0.8rem;
  padding: 0.8rem;

  margin: 2.4rem 0.8rem 2.4rem 0;

  box-shadow: 0.8rem 1.1rem #505d5f;

  &__messages-container {
    width: 100%;
    padding: 0.8rem;
    overflow-y: auto;
    overflow-x: hidden;

    display: flex;
    flex-direction: column-reverse;

    &::-webkit-scrollbar {
      width: 0.3rem;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 1rem;
      border: 0.3rem solid #dae8ec;
    }
  }

  &__message {
    width: 100%;
    padding: 1.2rem 0;
    border-bottom: 0.1rem solid #eaeaea;

    &:first-child {
      border-bottom: none;
    }
  }

  &__sender {
    @include typo-bungee-14($main-black);
    margin: 0 0 0.4rem 0;
  }

  &__text {
    @include typo-poppins-12($main-black);
    font-weight: 400;
    margin: unset;

    &--centered {
      text-align: center;
    }
  }

  &__form {
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__input {
    height: 5.6rem;
    width: 17.6rem;
    background-color: #dae8ec;
    border-radius: 0.8rem;
    resize: none;
    padding: 0.6rem;

    &:focus {
      outline: none;
    }
  }

  &__button {
    height: 2.4rem;
    width: 2.4rem;
    border-radius: 50%;
    background-color: #328eaa;
    border: none;
    transition: all 0.2s ease-in-out;

    &:hover {
      box-shadow: 0.3rem 0.5rem #292d2e;
    }
  }
}

@media screen and (max-width: map-get($breakpoints, "medium")) {
  .chat {
    max-height: 30.6rem;
  }
}

@media screen and (max-height: 820px) {
  .chat {
    max-height: 30.6rem;
  }
}
