.game-board {
  height: calc(100vh - 5rem);
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fffaeb;

  &__game-area {
    width: calc(100% - 2.4rem);
    max-width: 120rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__table {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &__center {
    width: 100%;
    max-width: 69.4rem;
    height: 47.6rem;
    border-right: 1px solid #505d5f;
    border-left: 1px solid #505d5f;
    background-color: #ede9db;

    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
      @include typo-bungee-24($main-black);
      margin: 2.4rem 0 0 0;
      text-align: center;
    }

    &__cards {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      margin: 2.4rem 0 0 0;

      &__deck,
      &__top,
      &__declaration {
        position: relative;
      }

      &__label {
        @include typo-bungee-12(#fff);
        margin: unset;

        &__container {
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          top: 0.4rem;
          left: 50%;
          transform: translate(-50%, -50%);
          height: 3.2rem;
          border: 0.1rem solid #fff;
          border-radius: 0.8rem;
          background-color: #000;
          z-index: 11;
          padding: 0 1rem;
        }
      }

      &__tag {
        @include typo-poppins-16-semibold($main-black);
        margin: unset;

        &__container {
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          bottom: -0.8rem;
          left: -0.8rem;
          height: 3.8rem;
          border: 0.1rem solid #5b6769;
          border-radius: 0.8rem;
          background-color: #fff;
          z-index: 11;
          padding: 0 1rem;
          gap: 0.4rem;
        }
      }
    }

    &__buttons {
      width: 100%;
      max-width: 28.2rem;
      margin: 3.2rem 0 0 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;

      &__challenge-button {
        width: 100%;
        height: 4rem;
        border-radius: 1.2rem;
        border: none;
        background-color: #ab1010;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        @include typo-bungee-16(#fff);

        &:hover {
          box-shadow: 0.3rem 0.5rem #292d2e;
        }
      }

      &__color-number {
        @include typo-bungee-14($main-black);
        white-space: nowrap;
        border: 0.1rem solid #9a9a9a;
        border-radius: 0.8rem;
        width: 100%;
        height: 7.2rem;
        background-color: #fff;
      }

      &--mobile-buttons {
        @include typo-bungee-14($main-black);
        white-space: nowrap;
        border: 0.1rem solid #9a9a9a;
        border-radius: 0.8rem;
        width: 100%;
        height: 4rem;
        background-color: #fff;
      }

      &__container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;

        &--mobile {
          display: none;
        }
      }
    }
  }

  &__modal {
    z-index: 15;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);

    &__content {
      width: calc(100% - 2rem);
      height: calc(100% - 2rem);
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 1rem;
      background-color: #292d2e;
      border-radius: $border-radius-12;
    }

    &__close {
      @include typo-poppins-16-semibold($main-black);
      position: absolute;
      top: 0;
      right: 0;
      width: 3.2rem;
      height: 3.2rem;
      border: none;
      border-radius: 50%;
    }
  }

  &__players {
    width: 100%;
    max-width: 25.3rem;
    margin-top: 2.8rem;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__chat {
    width: 100%;
    max-width: 25.3rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }
}

// Media queries

@media screen and (max-width: map-get($breakpoints, "large")) {
  .game-board {
    &__game-area {
      width: 100%;
      height: 100%;
    }

    &__players,
    &__chat {
      display: none;
    }
  }
}

@media screen and (max-width: map-get($breakpoints, "large")) {
  .game-board {
    &__center__buttons__container--mobile {
      display: flex;
    }
  }
}

@media screen and (max-width: map-get($breakpoints, "medium")) {
  .game-board {
    background-color: #ede9db;
    &__center {
      height: 40.4rem;
      border: none;
      &__cards {
        overflow: visible;
      }

      &__buttons__container--mobile {
        display: flex;
      }
    }
    &__chat {
      max-height: 35.4rem;
    }
  }
}

@media screen and (max-height: 820px) {
  .game-board {
    &__center {
      height: 40.4rem;
      &__buttons {
        margin: 2.4rem 0;
      }
    }

    &__chat {
      max-height: 35.4rem;
    }
  }
}
