.lobby {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    @include typo-poppins-60-semibold();
    margin: 5rem 0 0 0;
    text-align: center;
  }

  &__subtitle {
    @include typo-poppins-24-semibold();
    margin: 2rem 0 0 0;
    text-align: center;
  }

  &__name {
    margin: 1rem 0 0 0;
    @include typo-poppins-16-regular();
    text-align: center;
  }

  &__start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 3rem 0 0 0;
    width: 100%;
  }

  &__start-button {
    @include typo-bungee-14(#fff);
    height: 4rem;
    width: 16rem;
    border-radius: 1.2rem;
    border: none;
    background-color: #ab1010;
    transition: all 0.2s ease-in-out;

    &:hover {
      box-shadow: 0.3rem 0.5rem #292d2e;
    }
  }
}
