.hand {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 0 1rem 2rem 1rem;
    width: calc(100% - 2.4rem);
    background-color: rgb(221, 221, 221);
    border: 1px solid #000;
    border-radius: 0.5rem;
    padding: 1rem 0.2rem;
    color: rgb(150, 150, 150);
    box-shadow: 0.5rem 0.5rem;
    max-width: 60rem;
}