html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

.home {
  &__title {
    margin: 5rem 0 0 0;
    line-height: 1.15;
    font-size: 4rem;
    text-align: center;
  }

  &__options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    margin: 3rem 0 0 0;
  }

  &__join,
  &__host {
    display: flex;
    //flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 10rem;
    //gap: 1rem;
    //padding: 10px;
    border-radius: 5px;
    border: 1px solid #000;

    /* background: linear-gradient(-45deg, #ffffff, #c7c7c7, #777777, #8f8f8f);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite; */

    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      background: unset;
      background-color: rgb(192, 192, 192);
      color: #000;
      box-shadow: 0.5rem 0.5rem;
      /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
      background-size: 400% 400%;
      animation: gradient 15s ease infinite; */
    }
  }

  &__subtitle {
    margin: 2rem 0 0 0;
    line-height: 1.15;
    font-size: 1.5rem;
    text-align: center;
  }

  &__comments {
    margin: 1rem 0 0 0;
    line-height: 1.15;
    font-size: 1.5rem;
    text-align: center;
    a {
      color: inherit;
      text-decoration: none;
    }
  }
}

.navbar {
  display: flex;
  width: 100%;
  height: 50px;

  &__content {
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: calc(100% - 40px);
    height: 50px;
    background-color: #000;
    top: 0;
    left: 0;
    padding: 0 20px;
  }

  &__title {
    font-size: 20px;
    font-weight: 700;
    color: rgb(192, 192, 192);
  }

  &__name {
    font-size: 15px;
    font-weight: 500;
    color: rgb(192, 192, 192);
  }

  &__status {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

    a,
    button {
      height: 30px;
      border-radius: 5px;
      width: 5rem;
    }
  }
}

.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    margin: 5rem 0 0 0;
    line-height: 1.15;
    font-size: 4rem;
    text-align: center;
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 3rem 0 0 0;
    width: 30%;
    min-width: 25rem;
  }

  &__input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    height: 2rem;
    border-radius: 5px;
    border: 1px solid #000;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    padding: unset;

    &:hover {
      color: rgb(192, 192, 192);
      box-shadow: 0.5rem 0.5rem;
    }
  }

  &__label {
    font-weight: 600;
    margin: unset;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2rem;
    border-radius: 5px;
    border: 1px solid #000;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    padding: unset;
    background-color: rgb(192, 192, 192);

    &:hover {
      background-color: rgb(192, 192, 192);
      color: #000;
      box-shadow: 0.5rem 0.5rem;
    }
  }
}

.room-list {
  &__title {
    margin: 5rem 0 0 0;
    line-height: 1.15;
    font-size: 4rem;
    text-align: center;
  }

  &__room {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 10rem;
    border-radius: 5px;
    border: 1px solid #000;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: rgb(192, 192, 192);
      color: #000;
      box-shadow: 0.5rem 0.5rem;
    }

    &--locked {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      cursor: not-allowed;

      &:hover {
        div,
        h3 {
          opacity: 1;
        }
      }
    }

    &__title {
      margin: unset;
    }

    &__lock {
      height: 2rem;
      width: 2rem;
      opacity: 0;
      transition: all 0.2s ease-in-out;
    }

    &__warning {
      text-align: center;
      height: 2rem;
      font-size: 1rem;
      font-weight: 500;
      color: #000;
      margin: unset;
      opacity: 0;
      transition: all 0.2s ease-in-out;
    }

    &__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-top: 4rem;
      gap: 1rem;
      margin-bottom: 2rem;
    }
  }
}

.game-room {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    margin: 5rem 0 0 0;
    line-height: 1.15;
    font-size: 4rem;
    text-align: center;
  }

  &__subtitle {
    margin: 3rem 0 0 0;
    line-height: 1.15;
    font-size: 2rem;
    text-align: center;
  }

  &__round {
    margin: 0.5rem 0 0 0;
    line-height: 1.15;
    font-size: 1rem;
    text-align: center;
  }

  &__name {
    margin: 1rem 0 0 0;
    line-height: 1.15;
    font-size: 1rem;
    text-align: center;
  }

  &__start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 3rem 0 0 0;
    width: 100%;
  }

  &__start-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    min-width: 20rem;
    height: 2rem;
    border-radius: 5px;
    border: 1px solid #000;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    padding: unset;
    background-color: rgb(192, 192, 192);

    &:hover {
      background-color: rgb(192, 192, 192);
      color: #000;
      box-shadow: 0.5rem 0.5rem;
    }
  }

  &__draw-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 2rem;
    border-radius: 5px;
    border: 1px solid #000;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    padding: unset;
    background-color: white;

    &:hover {
      background-color: white;
      color: #000;
      box-shadow: 0.5rem 0.5rem;
    }
  }

  &__hand {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 2rem 1rem;
    width: calc(100% - 2.4rem);
    background-color: rgb(221, 221, 221);
    border: 1px solid #000;
    border-radius: 0.5rem;
    padding: 1rem 0.2rem;
    color: rgb(150, 150, 150);
    box-shadow: 0.5rem 0.5rem;
    max-width: 60rem;
  }

  &__board {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 2rem 1rem;
    width: calc(100% - 2.4rem);
    background-color: rgb(221, 221, 221);
    border: 1px solid #000;
    border-radius: 0.5rem;
    padding: 1rem 0.2rem;
    color: rgb(150, 150, 150);
    box-shadow: 0.5rem 0.5rem;
    max-width: 60rem;
    position: relative;

    @media (max-width: 768px) {
      flex-direction: column;
    }

    &__stats,
    &__top-card,
    &__players {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      color: #000;
      width: 30%;

      @media (max-width: 768px) {
        width: 100%;
      }
    }

    &__stats {
    }

    &__top-card {
      &__title {
        margin: unset;
      }
    }

    &__players {
      &__name {
        margin: 0 0 0.3rem 0;
        text-align: center;
        font-size: 1.2rem;
        color: #000;
      }

      &__hand-size {
        margin: unset;
        text-align: center;
        font-size: 1rem;
        color: #000;
      }

      &__player {
        padding: 0.3rem 0.7rem;
        border-radius: 0.5rem;
        border: 1px solid rgb(150, 150, 150);
        background-color: white;
        box-shadow: 0.5rem 0.5rem;
        color: rgb(150, 150, 150);
        //background-color: rgb(221, 221, 221);

        &--active {
          border: 1px solid #000;
          border-radius: 0.5rem;
          background-color: white;
          box-shadow: 0.5rem 0.5rem;
          color: #000;
        }
      }
    }
  }

  &__refetch-button {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #000;
    background-color: white;
    //box-shadow: 0.5rem 0.5rem;
    color: #000;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
}

.card {
  height: 10rem;
  width: 6rem;
  border: solid 1px #000;
  background-color: white;
  border-radius: 0.5rem;
  padding: 0.5rem;

  &--red {
    .card__content {
      background-color: #c40c00;
    }

    .card__number-middle {
      color: #c40c00;
    }

    .card__main-icon path,
    .card__main-icon--reverse path {
      fill: #c40c00;
    }
  }

  &--blue {
    .card__content {
      background-color: #1254ab;
    }

    .card__number-middle {
      color: #1254ab;
    }

    .card__main-icon path,
    .card__main-icon--reverse path {
      fill: #1254ab;
    }
  }

  &--yellow {
    .card__content {
      background-color: #e7d004;
    }

    .card__number-middle {
      color: #e7d004;
    }

    .card__main-icon path,
    .card__main-icon--reverse path {
      fill: #e7d004;
    }
  }

  &--green {
    .card__content {
      background-color: #328a10;
    }

    .card__number-middle {
      color: #328a10;
    }

    .card__main-icon path,
    .card__main-icon--reverse path {
      fill: #328a10;
    }
  }

  &--black {
    .card__content {
      background-color: black;
    }

    .card__number-middle {
      color: black;
    }
  }

  &__content {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    position: relative;

    &--small {
      border-radius: 0.2rem;
    }
  }

  &__number-top {
    font-size: 1.5rem;
    font-weight: 800;
    color: white;
    position: absolute;
    top: 0.3rem;
    left: 0.3rem;
    -webkit-text-stroke: 1px black;
  }

  &__number-bottom {
    font-size: 1.5rem;
    font-weight: 800;
    color: white;
    position: absolute;
    bottom: 0.3rem;
    right: 0.3rem;
    rotate: 180deg;
    -webkit-text-stroke: 1px black;
  }

  &__number-middle {
    font-size: 5rem;
    padding-bottom: 0.5rem;
    font-weight: 900;
    font-style: italic;
    color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    //z-index: 10;
    text-shadow: 0.2rem 0.2rem black;
    -webkit-text-stroke: 1px black;
  }

  &__ellipse {
    background-color: white;
    width: 80%;
    height: 80%;
    border-radius: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(35deg);

    &__red,
    &__blue,
    &__yellow,
    &__green {
      position: absolute;
      width: 50%;
      height: 50%;
      //border: solid 4px white;
    }

    &__red {
      background-color: #c40c00;
      border-top-left-radius: 100%;
      top: 0;
      left: 0;
    }

    &__blue {
      background-color: #1254ab;
      border-top-right-radius: 100%;
      top: 0;
      right: 0;
    }

    &__yellow {
      background-color: #e7d004;
      border-bottom-left-radius: 100%;
      bottom: 0;
      left: 0;
    }

    &__green {
      background-color: #328a10;
      border-bottom-right-radius: 100%;
      bottom: 0;
      right: 0;
    }

    &__border {
      position: absolute;
      width: 98%;
      height: 98%;
      border: solid 2px white;
      border-radius: 100%;
      top: -1px;
      left: -1px;
    }
  }

  &--small {
    height: 2rem;
    width: 1.2rem;
    border: solid 1px #000;
    border-radius: 0.2rem;
    padding: 4px;
    transform: skew(-15deg, 0deg);
    background-color: white;

    &__container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      &:first-child {
        position: absolute;
        top: 45%;
        left: 40%;
        transform: translate(-50%, -50%);
      }

      &:last-child {
        position: absolute;
        top: 55%;
        left: 57%;
        transform: translate(-50%, -50%);
      }

      &:only-child {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &:first-child {
      position: absolute;
      top: 10px;
      left: -15px;
      transform: skew(-15deg, 0deg) translate(-50%, -50%);
    }

    &:last-child {
      position: absolute;
      top: -5px;
      left: 5px;
      transform: skew(-15deg, 0deg) translate(-50%, -50%);
    }
  }

  &__main-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4rem;
    height: 4rem;
    transform: translate(-50%, -50%);
    font-size: 2rem;

    &--reverse {
      position: absolute;
      top: 42%;
      left: 50%;
      width: 3rem;
      height: 3rem;
      transform: translate(-50%, -50%);
      font-size: 2rem;
    }
  }

  &--clickable {
    cursor: pointer;

    &:hover {
      transform: scale(1.03);
      transition: all 0.2s ease-in-out;
      color: #000;
      box-shadow: 0.5rem 0.5rem;
    }
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
